version: 1
metadata:
  name: Rakkib - Hermes Proxy
entries:
  - model: authentik_providers_proxy.proxyprovider
    state: present
    identifiers:
      name: provider-hermes
    attrs:
      name: provider-hermes
      authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
      external_host: "https://{{HERMES_SUBDOMAIN}}.{{DOMAIN}}"
      mode: forward_single

  - model: authentik_core.application
    state: present
    identifiers:
      slug: hermes
    attrs:
      name: Hermes
      slug: hermes
      provider: !Find [authentik_providers_proxy.proxyprovider, [name, provider-hermes]]
