services:
  adguard:
    image: adguard/adguardhome:latest
    container_name: adguard
    restart: unless-stopped
    env_file:
      - .env
    # AdGuard Home needs host DNS ports for clients to use it.
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - {{DATA_ROOT}}/data/adguard/work:/opt/adguardhome/work
      - {{DATA_ROOT}}/data/adguard/conf:/opt/adguardhome/conf
    networks:
      - {{DOCKER_NET}}

networks:
  {{DOCKER_NET}}:
    external: true
