	# Malaria City Tracker (Next.js app in Docker)
	@mtracker host mtracker.{{DOMAIN}}
	handle @mtracker {
		reverse_proxy malaria-tracker:3000 {
			header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
			header_up X-Real-IP {http.request.header.CF-Connecting-IP}
			header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
			header_up Host {http.request.host}
		}
	}
