{% macro protected_route(route_id, host, upstream) -%}
	@{{ route_id }} host {{ host }}
	handle @{{ route_id }} {
		route {
			reverse_proxy /outpost.goauthentik.io/* authentik-server:9000
			forward_auth authentik-server:9000 {
				uri /outpost.goauthentik.io/auth/caddy
				copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email X-Authentik-Uid
			}
			reverse_proxy {{ upstream }}{% if caller is defined %} {
{{ caller() | indent(4, true) }}
			}{% endif %}
		}
	}
{%- endmacro %}
