# Beszel Hub environment
# See: https://beszel.dev/guide/environment-variables

# URL of the hub used for links in notifications/emails.
APP_URL=https://{{BESZEL_SUBDOMAIN}}.{{DOMAIN}}

# Optional
# CHECK_UPDATES=false
# CONTAINER_DETAILS=true
